---
me: Chris Schnerr
title: schnerror
images:
    # luebo
    - vvater1.png
    - floridah.jpg
    - floridah1.jpg
    - selim1.jpg
    - selim2.jpg
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ me }}</title>
        <link rel="manifest" href="/manifest.webmanifest">
        <link rel="icon" href="/img/favicon/favicon.ico?" sizes="any">
        <link rel="icon" href="/img/favicon/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul>
            -
            {% for filename in images %}
            <li><a href="img/{{ filename | | url_encode }}">{{ filename }}</a></li>
            {% endfor %}
            kuss ebo
            
        </ul>
    </body>
</html>